.studentCardList {
    border-radius: 15px;
    width: 840px;
    margin: 100px auto ;
    height: 80vh;
    overflow-y: scroll;
    box-shadow: 0 0 6px gray;

    & > * {
        border-bottom: 1px solid lightgray;
    }
}